.underline {
  text-decoration: underline;
}


.titulo-row{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(97, 96, 96);
  background-color: rgb(182, 180, 180);
}

.detalle-row{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(97, 96, 96);
  background-color: rgb(211, 208, 208);
}